name: Find flaky tests
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  find-flaky-tests:
    strategy:
      fail-fast: false
      matrix:
        runs: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # Run the build workflow 20 times
    uses: ./.github/workflows/test-build.yml
    with:
      concurrency-group: '-find-flaky-tests-${{ matrix.runs }}'
