name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
    inputs:
      concurrency-group:
        required: true
        type: string

permissions:
  contents: read

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  group: "${{ github.ref_name }}-${{ github.head_ref }}${{ inputs.concurrency-group }}"
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25.x'
      - name: Go mod check
        run: make mod-check
      - name: Lint
        run: make lint
      - name: Test benchmarks
        run: make test-benchmarks
      - name: Check protos
        run: |
          apt-get update && apt-get -y install unzip
          go mod vendor
          make check-protos

  test:
    name: Test on Go ${{ matrix.go-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # We want to make sure dskit can support multiple golang versions
        # by ensuring the test would pass using all these supported versions.
        go-version: ['1.24.x', '1.25.x']
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Display Go version
        run: go version
      - name: Test
        run: make test
